@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');

header {
  display: flex;
  justify-content:space-between;
  margin-bottom: 10px;
  font-family: 'Baloo Thambi 2', cursive;
}